<a href="https://colab.research.google.com/github/mk-armah/ibm-ai-engineering/blob/main/IBM_keras_final_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1  align = 'center'> Instructions </h1>
<hr/>

A. Build a baseline model (5 marks) 

Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error  as the loss function.

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

5. Report the mean and the standard deviation of the mean squared errors.

Submit your Jupyter Notebook with your code and comments.

-------
-------

1. Assignment Topic:

In this project, you will build a regression model using the Keras library to model the same data about concrete compressive strength that we used in labs 3.

2. Concrete Data:

For your convenience, the data can be found here again: https://cocl.us/concrete_data. To recap, the predictors in the data of concrete strength include:

Cement

Blast Furnace Slag

Fly Ash

Water

Superplasticizer

Coarse Aggregate

Fine Aggregate

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
seed = np.random.seed(42)

In [ ]:
#read dataframe from the link provided ===> https://cocl.us/concrete_data
df= pd.read_csv("https://cocl.us/concrete_data")

In [ ]:
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [ ]:
#check for missing values
df.isna().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [ ]:
#splitting the data in dependent and independent variables
X = df.iloc[:,df.columns!="Strength"]
y = df.iloc[:,df.columns=="Strength"]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.metrics import mean_squared_error
from tqdm import tqdm

# TASK A

In [ ]:
model_a = tf.keras.Sequential()
model_a.add(tf.keras.layers.Input(shape = (8,)))
model_a.add(tf.keras.layers.Dense(10,activation = 'relu'))
model_a.add(tf.keras.layers.Dense(1))

In [ ]:
def custom_model(epochs,normalize = False,model = model_a):
  """this function returns the error_list of the model for each 50 or 100 epochs of the 50 iterations"""
  model.compile(optimizer = 'adam',loss = 'mean_squared_error')
  error_list = []
  for i in tqdm(range(0,50)):
    X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3,random_state = i)
    
    if normalize:
      scaler = StandardScaler()
      X_train = scaler.fit_transform(X_train)
      X_test = scaler.transform(X_test)


    model.fit(X_train,y_train,epochs = epochs,verbose = 2)
    y_pred = model.predict(X_test)

    mse = mean_squared_error(y_test,y_pred)
    error_list.append(mse)

  return error_list

In [ ]:
model_a_error_list = custom_model(epochs = 50,model = model_a,normalize = False)

In [ ]:
print("Mean == >",np.mean(model_a_error_list),"\nStandard Deviation",np.std(model_a_error_list))

Mean == > 54.04734031189736
Standard Deviation 12.57581857897893

# TASK B

<h1>B. Normalize the data (5 marks) </h1> 

Repeat Part A but use a normalized version of the data. Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

How does the mean of the mean squared errors compare to that from Step A?

---



---

In [ ]:
model_b = tf.keras.Sequential()
model_b.add(tf.keras.layers.Input(shape = (8,)))
model_b.add(tf.keras.layers.Dense(10,activation = 'relu'))
model_b.add(tf.keras.layers.Dense(1))

In [ ]:
model_b_error_list = custom_model(epochs = 50,normalize = True,model = model_b) #with Normalization

In [ ]:
print("Mean == >",np.mean(model_b_error_list),"\nStandard Deviation",np.std(model_b_error_list))

Mean == > 53.11253409368045
Standard Deviation 80.62906253053815

In [ ]:
print("The Difference between Mean of Model A Error List\nand the Mean of Model B Error List is >>> :",np.mean(model_a_error_list) - np.mean(model_b_error_list))

The Difference between Mean of Model A Error List
and the Mean of Model B Error List is >>> : 0.9348062182169059

# TASK C

C. Increase the number of epochs (5 marks)

Repeat Part B but use 100 epochs this time for training.

How does the mean of the mean squared errors compare to that from Step B?:

-------
-------

In [ ]:
model_c = tf.keras.Sequential()
model_c.add(tf.keras.layers.Input(shape = (8,)))
model_c.add(tf.keras.layers.Dense(10,activation = 'relu'))
model_c.add(tf.keras.layers.Dense(1))

In [ ]:
model_c_error_list = custom_model(epochs = 100,normalize = True,model = model_c) #num of epochs increase to 100, normalization applied

In [ ]:
print("Mean == >",np.mean(model_c_error_list),"\nStandard Deviation",np.std(model_c_error_list))

Mean == > 36.66682776901993
Standard Deviation 20.864941422069638

In [ ]:
print("The Difference between Mean of Model B Error List\nand the Mean of Model C Error List is >>> :",np.mean(model_b_error_list) - np.mean(model_c_error_list))

The Difference between Mean of Model B Error List
and the Mean of Model C Error List is >>> : 16.44570632466052

# TASK D

D. Increase the number of hidden layers (5 marks)

Repeat part B but use a neural network with the following instead:

- Three hidden layers, each of 10 nodes and ReLU activation function.

How does the mean of the mean squared errors compare to that from Step B?

-------
-------

In [ ]:
model_d = tf.keras.Sequential()

model_d.add(tf.keras.layers.Dense(10,activation = 'relu',input_shape = (8,)))
model_d.add(tf.keras.layers.Dense(10,activation = "relu"))
model_d.add(tf.keras.layers.Dense(1))

model_d.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 10)                90

 dense_7 (Dense)             (None, 10)                110

 dense_8 (Dense)             (None, 1)                 11

=================================================================
Total params: 211
Trainable params: 211
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model_d_error_list = custom_model(epochs = 50,normalize = True,model = model_d)

In [ ]:
print("Mean == >",np.mean(model_d_error_list),"\nStandard Deviation",np.std(model_d_error_list))

Mean == > 35.452589116715785
Standard Deviation 17.291733369854516

In [ ]:
print("The Difference between Mean of Model B Error List\nand to the Mean of Model D Error List is >>> :",np.mean(model_b_error_list) - np.mean(model_d_error_list))

The Difference between Mean of Model B Error List
and to the Mean of Model D Error List is >>> : 17.659944976964667